/* ==============================================
main share setting
================================================= */
body {
    font-family: 'Roboto', 'Noto Sans TC', 'LiHei Pro Medium', 'Microsoft JhengHei', sans-serif;
    background: url(../img/bg.svg) center 80%/840px 390px no-repeat #f0f0f0 fixed;
    color: #000;
}

/* +++++++ nav bar setting  +++++++ */
nav {
    position: fixed;
    font-size: 20px;
    font-weight: 500;
    z-index: 300;
}

/* ==============================================
END 
main share setting
================================================= */

/* ==============================================
html = index ; 
section = #intoSect
section = #q1 
section = #q2
section = #q3
section = #q4
section = #q5   
================================================= */

/* +++++++ 題目框架 共用class  +++++++ */
.section {
    z-index: 10;
    position: relative;
    min-height: 100vh;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding-top: 3.5rem;
}

.frame {
    margin: auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0px 2px 0px rgba(80, 80, 80, .15);
}

#q1 .frame,
#q2 .frame,
#q3 .frame,
#q4 .frame,
#q5 .frame {
    padding: 1rem .8rem;
}

.btnMain {
    display: inline-block;
    margin: auto;
    margin-top: .5rem;
    padding: .5rem 1rem;
    background-color: #47c3d4;
    color: #fff000;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    transition: all .6s ease;
}

/* groupInfo */
.groupInfo h2 {
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}

.groupInfo h2 span {
    z-index: 1;
    position: relative;
    /* padding: 0.25rem .5rem; */
}

.groupInfo h2 span:nth-child(1) {
    padding-right: .5rem;
    color: #ff886c;

}

.groupInfo h2+p {
    font-size: .8rem;
}

/* groupQuestion */
.groupQuestion {
    padding-bottom: 2rem;
}

.groupQuestion h2 {
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 700;
    text-align: left;
}

/* groupChoose */

.groupChoose {
    margin: 0 auto;
    width: 70%;
}

.btnAnswer {
    position: relative;
    display: block;
    padding: .5em 0;
    color: #000;
}

.btnAnswer span {
    position: relative;
    z-index: 2;
}

.btnAnswer span:before {
    z-index: -1;
    position: absolute;
    width: 0%;
    height: 1rem;
    background-color: #f1d933;
    left: 0;
    right: 0;
    bottom: -8px;
    content: "";

    -moz-transition: width .4s ease;
    -o-transition: width .4s ease;
    -webkit-transition: width .4s ease;
    transition: width .4s ease;
    content: "";
}

.btnAnswer:hover span:before {
    width: 100%;
}

/* groupPic */
.groupPic {
    position: relative;
    margin: -2rem auto 0;
    width: 60%;

}

/* +++++++ #intoSect 題目框架  +++++++ */

.group h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}

.group h2 span {
    z-index: 1;
    position: relative;
    padding: 0.25rem .5rem;
}

.group h2 span::before {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: .7rem;
    background-color: #8dd6e0;
    left: 0;
    right: 0;
    bottom: 5px;
    content: "";
}

.group p {
    font-weight: 400;
    font-size: .8rem;
}

.group .text-center a:nth-child(1) {
    display: block;
    margin-bottom: 1rem;
    font-weight: 200;
}

/* +++++++ #intoSect Modal 內容CSS  +++++++ */
.modal h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}

.modal h2 span {
    z-index: 1;
    position: relative;
    padding: 0.25rem .5rem;
}

.modal h2 span::before {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: .7rem;
    background-color: #8dd6e0;
    left: 0;
    right: 0;
    bottom: 5px;
    content: "";
}

.modal p {
    font-weight: 400;
}

/* +++++++ #q1 題目框架  +++++++ */